/* Chat Bot Styles */
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.chat-button:hover {
    transform: scale(1.05);
}

.chat-window {
    width: 350px;
    height: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px 20px;
    background: #404040;
    color: white;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h3 {
    margin: 0;
    font-size: 16px;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.messages {
    flex: 1;
    overflow-y: auto;
    /* overflow-x: hidden; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 2px 0;
    word-wrap: break-word;
    text-align: left;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message.bot {
    background: #f0f2f5;
    align-self: flex-start;
    border-bottom-left-radius: 5px;
}

.message.user {
    background: #404040;
    color: rgb(255, 255, 255);
    align-self: flex-end;
    border-bottom-right-radius: 5px;
}

.userDate {
    color: #445465;
    font-size: 12px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.botDate {
    color: #445465;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.input-form {
    padding: 15px;
    border-top: 1px solid #eee;
    display: flex;
    gap: 10px;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.message-input:focus {
    border-color: black;
}

.send-button {
    background: black;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.send-button:hover {
    background: white;
    color: black;
    border: 1px solid black;
}